@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

.content{
    display: grid;
    grid-template-columns: 2, 1fr;
}

img{
    background-color: white;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    padding: 10px
}

h1{
    color: black;
    font-family: "Lora", "serif";
    font-size: 10em;
    text-align: center;
    align-self: center;
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    padding: 10px
}

#greybox{
    background-color: gray;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    padding: 10px
}

p{
    color: maroon;
    font-family: "Lora", "serif";
    text-align: center;
    align-self: last baseline;
    font-size: 5em;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 3;
    padding: 10px
}