nav, footer {
    background-color: steelblue;
    padding: 10px;
}

a:hover {
    background-color: white;
    color: steelblue;
}

#active {
    font-size: 1.5em;
    background-color: white;
    color: steelblue;
}

a {
    color: white;
    margin: 40px;
}

h1 {
    text-align: center;
    color: steelblue;
}
  
img {
    width: 30%;
    display: block;
    border: 4px solid steelblue;
    margin: 0 auto; 
}

.main-para {
    width: 80%;
    margin: 50px auto;
    font-size: 1.5em;
    line-height: 1.5 em;
}

p {
    padding: 10px;
}

footer {
    background-color: steelblue;
    color: white;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}