@import url('https://fonts.googleapis.com/css2?family=Playfair&family=Slackside+One&display=swap');

#content{
    max-width: 1500px;
    margin: 0 auto;
}

body{
    background-color: #1c151f;
    color: #c38cca;
    font-family: "Playfair", "Garamond", "serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#logo{
    width: 260px;
    padding-top:5px;   
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #d572e2;
    color: #1f1822;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    color: #322736;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #322736;
    color: #9E4CA9;
}

#hero-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-img{
    height: 400px;
    width: 100%;
    padding: 5px;
    justify-self: center;
    align-self: center;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    height: 400px;
}

#title{
    grid-column: 2/3;
    grid-row: 1/2;
}

.hero-msg{
    color: #1f1822;
    font-family: "Slackside One","Bradley Hand", "sans-serif";
    font-size: 3em;
    margin-top: 10px;
    text-align: center;
}
.hero-msg :hover{
    transform: scale(1.1);
}

h3{
    color: #B888BF;
    font-family: "Slackside One","Bradley Hand", "sans-serif";
    font-size: 3em;
    margin-top: 10px;
    text-align: center; 
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

#intro{
    grid-row: 1/2;
    box-shadow: 5px 5px 10px #776080;
    transition: transform .5s;
}

#intro :hover{
    transform: scale(1.1);
}

.text-box p{
    color: #B481BB;
    font-family: "Playfair", "Garamond", "serif";
    font-size: 1em;
    padding-bottom: 15px;
    margin-left: 15px;
}

footer{
  background-color: #d572e2;
  color: #1f1822;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 1.2em;
}

footer p:hover{
    text-decoration: underline;
}

footer a{
    text-decoration: none;
}

footer a:hover{
  background-color: #322736;
  color: #9E4CA9;  
}

/*CSS for Web Development begins here*/

.container {
    position: relative;
    width: 50%;
  }
  
  #hero-img {
    display: block;
    width: 100%;
    height: 400px;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    background-color: #008CBA;
  }
  
  #hero-grid:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: #211924;
    font-family: "Slackside One","Bradley Hand", "sans-serif";
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.webdev-main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.logo-design {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
  
.logo-design #item-img {
    height: 400px;
    padding: 5px;
    margin-top: 10px;
    grid-column: 1/2;
}
  
.logo-design #item-msg {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
  
.logo-design #item-msg h3,
.logo-design #item-msg p {
    text-align: center;
}
  
.wireframe {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
  
.wireframe #item-img {
    height: 400px;
    grid-column: 2/3;
    justify-self: end; 
}
  
.wireframe #item-msg {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}
  
.wireframe #item-msg h3,
.wireframe #item-msg p {
    text-align: center;
}
  
.page-top {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
  
.page-top #item-img {
    height: 400px;
    padding: 5px;
    grid-column: 1/2;
    justify-self: start;
}
  
.page-top #item-msg {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}

  
.page-top #item-msg h3,
.page-top #item-msg p {
    text-align: center; 
}
  
.important-content {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
  
.important-content #item-img {
    height: 400px;
    grid-column: 2/3;
    justify-self: end; 
}
  
.important-content #item-msg {
    grid-column: 1/2;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    flex-direction: column;
    text-align: center;
}
  
  
#item-msg {
    padding: 10px;
}

/*CSS for Software Development begins here*/

#header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

#hobby-header-box {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hobby-header-img {
  width: 100%;
  height: 300px;
}

#prof-header-img {
  width: 100%;
  height: 300px;
}

#prof-header-box {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hobby-header-msg {
  color: #C7A2CD;
  font-family: "Slackside One", "Bradley Hand", sans-serif;
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#prof-header-msg {
  color: #C7A2CD;
  font-family: "Slackside One", "Bradley Hand", sans-serif;
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.software-main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.software-content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  justify-items: center; /* Center the content horizontally */
}

#disclaimer {
  text-align: center;
  grid-column: 1/3; /* Span across two columns */
}

@media (max-width: 768px) {
    #content {
      max-width: 100%;
      padding: 0 20px;
    }
  
    body {
      font-size: 18px;
    }
  
    #logo {
      width: 200px;
    }
  
    header {
      grid-template-columns: 1fr;
      justify-content: center;
      text-align: center;
    }
  
    nav {
      flex-direction: column;
      padding: 10px 0;
    }
  
    nav a {
      padding: 10px;
    }
  
    #hero-grid {
      grid-template-columns: 1fr;
    }
  
    #hero-img {
      height: auto;
      width: 100%;
      padding: 5px;
    }
  
    #hero-box {
      grid-column: 1;
      grid-row: 1;
    }
  
    #title {
      grid-column: 1;
      grid-row: 2;
    }
  
    .hero-msg,
    h3 {
      font-size: 2em;
    }
}