body{
    background-color: pink;
  }

img{
  display: block;
  width: 15%;
  height:auto;
  text-align: center;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 2em;
  }

h1{
    font-family: sans-serif;
    text-align: center;
    color:white
  }
p{
  text-align: center;
  margin: 0 auto;
}
h1:hover{
    color: black;
    border-bottom: 2px solid #14304f;
}
ol.center{
  display: block;
  width: 30%;
  margin:0 auto;
  font-family: sans-serif;
  text-align: left;
  list-style-position: inside;
}

  
h2{
  font-size: large;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  }

h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.7em;
  text-align: center;
  margin: 0 auto;
}

footer{
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif
}

  
